---
 const personalImageAlt = "Nicolas Rios"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-red-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Nicolás Ríos Flórez, <strong>un apasionado del desarrollo de software y la tecnología.</strong>
    </p>

    <p>
      Tengo 21 años, <strong>y busco continuamente adquirir conocimientos sólidos en desarrollo de software para generar un impacto significativo. Me apasiona aprender de forma autodidacta, explorando nuevas tecnologías y enfoques. Estoy comprometido con mi crecimiento profesional y siempre preparado para enfrentar nuevos desafíos..</strong>
    </p>

    <p>
      Algunos de mis logros incluyen <strong>desarrollar soluciones que optimizan procesos y mejoran la eficiencia en diversas áreas.</strong>
    </p>

    <p>
      Como colaborador activo en proyectos de tecnología, <strong>me esfuerzo por generar valor y contribuir al éxito de las organizaciones.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
